<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1 id="contact-heading" class="sans"><i class="fa-solid fa-address-book"></i>My Contacts List</h1>
 
<div class="flex sans" id="contact-container">
 
    <ul >
       <% for(let i of contact_list){ %>

        <li>
            <div class="details flex">
            <p><%= i.name %></p>
            <p><%= i.phoneNo %></p>
        </div>
            <div class="delete">
                <a href="/delete-contact/?phoneNo=<%= i.phoneNo %>"><i class="fa-solid fa-window-close"></i></a>
            </div>
        </li>
       

        <% } %>
    </ul>


    <form action="/create-contact" method="POST">
        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="number" name="phoneNo" placeholder="Enter Phone No" required>
        <button id="add" type="submit">Add</button>
    </form>
</div>
<script type="text/javascript" src="/js/home.js"></script>
</body>
</html>