body{
    margin: 0;
    padding: 0;


}
.sans{
    font-family: sans-serif;
}
#contact-heading{
    text-align: center;
    color: #1877f2;
    
}
i{
    margin: 0px 5px;
}
.flex{
    display: flex;
}
#contact-container{
    max-width: 40vw;
    margin: 0px 510px;
    flex-wrap: wrap;
}
#contact-container ul li{
width: 29vw;
background-color: black;
font-weight: bolder;
color: white;
align-items: center;
padding: 20px;
display: block;
margin: 5px 0px;
border-bottom: 2px solid #1877f2;
display: flex;
}

#contact-container ul li:hover{
    background-color: #1877f2;
    color: black;
}
form{
    margin: 0px 80px;
}
form input{
    border: none;
    border-bottom: 1px solid black;
}
#add{
    color: white;
    background-color: #1877f2;
    font-weight: bolder;
    border:none;
}
.details{
    justify-content: space-between;
    width: 90%;
}
.delete{
    width: 10%;
}
i{
    margin: 0px 20px;
    color: red;
}